<main>
  <div class="wrap-con">
    <div class="top-wrap top-50">
      <div class="fir-small-icon">
      </div>
    </div>
    <div class="sec-small-icon">
    </div>
    <div class="wrap-main-ico">
      <div class="cen-icon blue-grad">
        <i class="fa fa-book-open fa-6x ico-center"></i>
      </div>
    </div>
    <div class="con-sec">
      <div class="con-tit">
        Read Books 
      </div>
      <div class="con-desc">
        Create your account to get started. After that,
        you can share books and make friends.
      </div>
    </div>
    <div class="next-page">
      <div class="left-side">
        <div class="page-indic box-ver">    
        </div>
        <div class="page-indic circle-ver">    
        </div>
        <div class="page-indic circle-ver">    
        </div>
      </div>
      <div class="right-side">
        <a routerLink="/onboarding-2">
          <div class="page-indic circle-dir">  
            <i class="fa fa-arrow-right  ico-center"></i>  
          </div>
        </a> 
      </div>
    </div>
    <div class="below-pg">
      <div class="bot-cir">
        <p class="skip-txt">Skip Intro </p>
      </div>
    </div>
  </div>
</main>