<main>
  <div class="wrap-con">
    <div class="wrap-main-ico top-50">
      <div class="cen-icon-mid green-grad ">
        <i class="fa fa-check fa-6x ico-center"></i>
      </div>
    </div>
    <div class="clear-both"></div>
    
    <div class="con-sec top-25">
      <div class="con-tit">
        Thank you!
      </div>
      <div class="con-desc">
        You have submitted your first book review. Now it’s time to make some friends.
      </div>
      <div class="form-group-cs top-50">
        <button class="sign-btn">Add Friends</button> 
      </div> 
      
    </div>
    
    <div class="page-foot">
      <div class="foot-block1">
      <p class="txt-sty">YOU MAY ALSO BE INTERESED IN:</p>
        <div class="books-row">
          <div class="book-item">
              <div class="book-img"></div>
            
            <p class="book-tit">Scar Tissue</p>
            <p class="book-auth">Anthony Kiedis</p>
          </div>
          <div class="book-item">
            <div class="book-img"></div>
            <p class="book-tit">Eat Awesome</p>
            <p class="book-auth">Paul Jarvis</p>
          </div>
          <div class="book-item">
              <div class="book-img"></div>            
            <p class="book-tit">The Wastelands</p>
            <p class="book-auth">Stephen King</p>
          </div>
        </div>
        
      </div>
      
      <div class="foot-block2">
        <div class="foot-item timeline-ico">
          <i class="fa fa-home  ico-center"></i>  
          <p class="foot-txt">Timeline</p>        
        </div>
        <div class="foot-item books-ico">
          <i class="fa fa-book-open ico-center"></i>     
          <p class="foot-txt">My Books</p>                                 
        </div>
        <div class="foot-item revew-ico">
          <i class="fa fa-star  ico-center"></i>
          <p class="foot-txt">Add reviews</p>                                    
        </div>
        <div class="foot-item notification-ico">
          <i class="fa fa-bell ico-center"></i>  
          <p class="foot-txt">Notifications</p>                                                   
        </div>
      </div>
      
    </div>
    
  </div>
</main>