<main>
  <div class="wrap-con">
    <div class="top-wrap">
      <div class="fir-big-circle">
      </div>
    </div>
    <div class="wrap-main-ico">
      <div class="sign-up-ico orange-grad">
        <i class="fa fa-bulb fa-6x ico-center"></i>
      </div>
    </div>
    <div class="clear-both"></div>
    
    <div class="con-sec">
      <div class="con-tit">
        Welcome!
      </div>
      <div class="con-desc">
        Create your account to get started. After that, you can share books and make friends.
      </div>
    </div>
    <div class="sec-xsmall-icon">
    </div>
    <div class="clear-both"></div>
    <div class="wrap-form">
      <div class="form-box">
        <div class="form-group-cs">
            <p class="inp-txt">Email</p>
            <input type="text" class="form-inp" name="email" id="email">
        </div>
        <div class="form-group-cs">
            <p class="inp-txt">Password</p>
            <input type="password" class="form-inp" name="password" id="password">
        </div>
        <div class="form-group-cs">
            <p class="inp-txt">Type Passwprd Again</p>
           <input type="password" class="form-inp" name="password2" id="password2">   
        </div>   
        <div class="form-group-cs top-50">
           <button class="sign-btn">Sign up</button> 
        </div>   
          <p class="below-sign-btn">Already have an account? <strong>Login</strong> </p>
      </div>
    </div> 
  </div>
</main>