<main>
  <div class="wrap-con">
    <div class="wrap-top-in">
      <div class="top-in-page">
      </div>
    </div>
    <div class="on-top">
      <p class="top-tit">My Book List</p>
      <div class="form-search">
        <input type="text" class="form-inp-search" name="email" id="email">
      </div>
    </div>
    <div class="below-on-top">
      <p class="txt-sty ali-left"><strong>Books Reviewed by you</strong>  </p>
      <div class="books-row-lib">
        <div class="book-item-lib">  
          <div class="book-left">
            <div class="book-lib-img"></div>
          </div>
          <div class="book-right">
            <p class="book-lib-tit">Remote: Office not required</p>
            <p class="book-lib-auth">Anthony Kiedis</p>
            <div class="book-lib-star">
              <i class="star-checked fa fa-star"></i>
              <i class="star-checked fa fa-star"></i>
              <i class="star-checked fa fa-star"></i>
              <i class="star-checked fa fa-star"></i>
              <i class="star-unchecked fa fa-star"></i>
            </div>
          </div>
        </div>
        <div class="book-item-lib">  
          <div class="book-left">
            <div class="book-lib-img"></div>
          </div>
          <div class="book-right">
            <p class="book-lib-tit">Papillon</p>
            <p class="book-lib-auth">henri Charriere</p>
            <div class="book-lib-star">
              <i class="star-checked fa fa-star"></i>
              <i class="star-checked fa fa-star"></i>
              <i class="star-checked fa fa-star"></i>
              <i class="star-checked fa fa-star"></i>
              <i class="star-unchecked fa fa-star"></i>
            </div>
          </div>
        </div>
        <div class="book-item-lib-rev">  
          <div class="book-rev">
            <div class="book-left">
                <div class="book-lib-img"></div>
              </div>
              <div class="book-right">
                <p class="book-lib-tit">The Dark Tower the Gunslinger</p>
                <p class="book-lib-auth">Stephen King</p>
                
              </div>
          </div>
          
          <div class="book-lib-rev">
              <button class="add-rev-btn">Add book review</button> 
          </div>
        </div>
      </div>
    </div>
    <div class="page-foot">
      <div class="foot-block2">
        <div class="foot-item timeline-ico">
          <i class="fa fa-home  ico-center"></i>  
          <p class="foot-txt">Timeline</p>        
        </div>
        <div class="foot-item books-ico">
          <i class="fa fa-book-open ico-center"></i>     
          <p class="foot-txt">My Books</p>                                 
        </div>
        <div class="foot-item revew-ico">
          <i class="fa fa-star  ico-center"></i>
          <p class="foot-txt">Add reviews</p>                                    
        </div>
        <div class="foot-item notification-ico">
          <i class="fa fa-bell ico-center"></i>  
          <p class="foot-txt">Notifications</p>                                                   
        </div>
      </div>
    </div>
  </div>
</main>